@import '../../../styles/variables.scss';

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px;
  gap: 18px;
}

.color {
  width: 36px;
  height: 36px;
  border-radius: 12px;
}

.header {
  padding: 20px 20px 20px 10px;
  display: flex;
  justify-content: space-between;
  color: $--grey-text-color;
  cursor: pointer;
}

.colorActive {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-color: #333;
  background-color: #e0e0e0;
}

@media (max-width: $medium) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
  }
}
