@import '../../styles/variables.scss';

.form_wrapper {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: center;
  align-items: center;
  text-align: center;

  flex-basis: 50%;
}

.image_wrapper {
  flex-basis: 50%;
}

.image_wrapper img {
  width: 100%;
}

.wrapper {
  display: flex;
  gap: 10px;
}

.success_message {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: center;
  align-items: center;
  flex-basis: 50%;
}
@media (max-width: $small) {
  .image_wrapper {
    display: none;
  }

  .wrapper {
    display: block;
  }

  h4 {
    font-size: 17px;
  }
}
